*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: rgb(2, 2, 142);
    font-family: 'Rubik Iso', cursive;
    font-size: 40px;
}

.fotoAutore {
    width: 50px;
    aspect-ratio: 1 / 1 ;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.red {
    color: red;
}

.cursorPointer {
    cursor: pointer;
}